element {
  color: orangered !important;
}

div[role="menu"] > div > span {
  /* background: red !important; */
  color: red !important;
}

/* body {
  position: relative;
} */

.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100vh;
  color: rgb(75, 155, 207);
  
}

.App-header {
  background-color: ghostwhite;
  height: 50px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9ACAEB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 3em;
  font-weight: 200;
}

.waterIcon {
  max-height: 5em;
  padding-left: .5%;
  padding-right: 0;
  margin-right: 0;
}

.instructions {
  font-style: italic
}

.weather {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  font-size: 18px;
  
}

.weatherTemp {
  margin: 0;
  color: rgba(100, 109, 112, 0.877);
}


.mapContainer {
  background-color: ghostwhite;
  position: relative;
}

.mapDiv {
  z-index: 1;
}

.mapImage {
  max-width: 100%;
  border-radius: 3px;
}



.dropdownMenu {
 
  border-radius: 3px;
  font-weight: 700;
  background-color: rgba(227, 205, 175, 0.4);
  color: orangered !important;
}

.dropdownMenuDiv {
  position: absolute;
  left: 50%;

  transform: translate(-50%);
 
  z-index: 2;
  color: orangered !important;
}

.menuItem {
  color: orangered !important;
}

