@import url('https://fonts.googleapis.com/css?family=Cinzel|Indie+Flower|Josefin+Sans|Poiret+One');



body {
  background-color: ghostwhite;
 
}

.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100vh;
  
  color: rgba(70,130,180,0.93);
  font-family: 'Josefin Sans', sans-serif;
  
}

.App-header {
  background-color: ghostwhite;
  height: 50px;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(70,130,180,0.93);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 3em;
  font-weight: 300;
}

.waterIcon {
  max-height: 5em;
  padding-left: .5%;
  padding-right: 0;
  margin-right: 0;
}

.instructions {
  font-family: 'Poiret One', cursive;
  /* font-style: italic; */
  font-size: 20px;
  font-weight: bold;
}

.weather {
  background-color: rgba(248,248,255,0.5);
  position: absolute;
  bottom: 7px;
  right: 7px;
  width: 55px;
  padding-left: 3px;
  z-index: 2;
  font-size: 20px;
  border-radius: 3px;
}

.weatherTemp {
  margin: 0 0 0 0;
  color: rgba(70,130,180,0.93);
}


.mapContainer {
  background-color: ghostwhite;
  position: relative;
  width: 441px;
 
  margin: 0 auto;
 
}

.mapDiv {
  position: relative;
  z-index: 1;
  
}

.mapImage {
  max-width: 97%;
  height: auto;
 
  border-radius: 3px;
  border: .5px solid rgba(70,130,180,0.93);
  border-width: 3px;
}



.dropdownMenu {
  
  border-radius: 3px;
  font-weight: 700;
  
  background-color: rgba(248,248,255,0.5);
  color: rgba(70,130,180,0.93);
}

.dropdownMenuDiv {
  position: absolute;
  left: 50%;

  transform: translate(-50%);
 
  z-index: 2;
  
}


.meterIconImage{
  height: 80px;
  margin-bottom: -20px;
}

.displaySite {
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  font-size: 20px;
  flex: 1;
  font-weight: lighter;
  /* font-family: 'Poiret One', cursive; */
}

.siteName {
  text-decoration: underline;
  font-weight: 700;
  /* font-family: 'Josefin Sans', sans-serif; */
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .main {
    flex-direction: column;
    justify-content: center;
    
  }
  .mapContainer {
   
    width:100%;
    max-width: 100%;
    margin: 0 auto;
   
  }
  .main :nth-child(1) { order: 2; }
  .main :nth-child(2) { order: 1; }
  .main :nth-child(3) { order: 3; }
  .displaySite {font-size: .9em}
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  .main {
    flex-direction: row;
    max-height: 100vh;
  }
}