.App {
  text-align: center;
  background-color: ghostwhite;
  height: 100vh;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: ghostwhite;
  height: 50px;
  padding: 20px;
  color: #9ACAEB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 2em;
  font-weight: 200;
}

.App-intro {
  font-size: large;
}

.mapContainer {
  background-color: #E3CDAF;
  position: relative;
}

.mapDiv {
  z-index: 1;
}

.mapImage {
  max-width: 100%
}

.waterIcon {
  max-height: 95%;
  padding-left: .5%;
  padding-right: 0;
  margin-right: 0;
}

.dropdownMenu {
  /* width: 300; */
  border-radius: 3px;
  
  background-color: rgba(227, 205, 175, 0.4);
  color: orangered !important;
}

.dropdownMenuDiv {
  position: absolute;
  top: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  z-index: 2;
  color: orangered !important;
}

.menuItem {
  color: orangered !important;
}

